# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
env/

# ML artifacts
ml/data/*
!ml/data/.gitkeep
ml/runs/*
!ml/runs/.gitkeep
wandb/
*.pt
*.pth
*.onnx

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp

# Env vars
.env
.env.local
